.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 0 10px;
}
.modal_is-opened {
  opacity: 1;
  visibility: visible;

  transition: opacity 0.5s ease, visibility 0s linear 0s;
}
.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  gap: 32px;
  position: relative;
}

.modal__close-button {
  background-color: #fff;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  opacity: 0.4;
}
.modal__close-button:hover {
  opacity: 1;
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  max-width: 630px;
  width: 100%;
}
.modal__title {
  align-self: flex-start;
  margin: 0;
  color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  justify-content: center;
  align-items: center;
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #212121b2;
}
.modal__input {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0;
  padding: 16px 12px;
  max-width: 100%;
  width: 100%;
  border: 1px solid #21212166;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
}
.modal__input:hover {
  border: 1px solid #212121;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}
.modal__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 25px 32px;
  border-radius: 8px;
  border: 0;
  max-width: 156px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;

  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.modal__submit-button:hover {
  opacity: 1;
  background-color: #212121cc;
}
.modal__submit-button_disabled {
  cursor: not-allowed;
  pointer-events: none;
  transition: none;
  opacity: 0.5;
  background-color: #212121;
}
.modal_type_preview {
  padding: 0 16px;
}
.modal__preview-container {
  position: relative;
}
.modal__image_type_preview {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  padding: 0;
  border-radius: 8px;
}
.modal__caption_type_preview {
  color: #ffffff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 8px 0 0;
  display: inline-block;
  width: fit-content;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal__close-button_type_preview {
  position: absolute;
  top: 0;
  right: -52.5px;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  padding: 0;
}
.modal__close-button_type_preview:hover {
  opacity: 0.4;
  cursor: pointer;
}

.modal__error {
  display: block;
  margin-top: 8px;
  color: rgba(255, 0, 0, 0.7);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.1;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
  pointer-events: none;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
    gap: 24px;
  }
  .modal__title {
    font-size: 20px;
    line-height: 1;
    padding: 10px 0 10px;
  }
  .modal__form {
    gap: 24px;
    width: 100%;
    height: 248px;
  }
  .modal__label {
    display: block;
    margin: 0 0 32px 0;
    font-size: 16px;
  }
  .modal__input {
    margin: 8px 0 0;
    width: 100%;
    height: 48px;
    padding: 16px 12px;
    gap: 10px;
  }

  .modal__submit-button {
    max-width: 627px;
    width: 100%;
    padding: 18px 32px;
    gap: 8px;
    font-size: 16px;
    align-self: center;
  }
  .modal__close-button {
    top: 12.49px;
    right: 12.49px;
  }

  .modal__close-button_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__image_type_preview {
    max-width: unset;
    width: 100%;
  }
  .modal__caption_type_preview {
    font-size: 16px;
  }
}
