.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
}
.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  object-fit: cover;
}
.profile__avatar-btn {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  gap: 8px;
  bottom: 12px;
  visibility: hidden;
  cursor: pointer;
}
.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}
.profile__avatar-btn::after {
  content: "Edit Avatar";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 1);
}

.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__description {
  margin: 0;
  max-width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  color: #212121b2;
}
.profile__edit-button {
  display: flex;
  margin-top: auto;
  opacity: 0.7;
  border: none;
  background-color: transparent;
  gap: 8px;
  padding: 0;
  white-space: nowrap;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 1;
}
.profile__add-button {
  display: flex;
  margin-left: auto;
  align-self: flex-end;
  background-color: #212121;
  color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  width: 149px;
  height: 52px;
  gap: 8px;
  padding: 18px 32px;
  white-space: nowrap;
  border-radius: 8px;
  box-shadow: none;
  border: none;
}
.profile__add-button:hover {
  cursor: pointer; /* hand icon */
  background-color: #212121cc;
}
/* Medi querie */
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }
  .profile__avatar-btn::after {
    content: "";
  }
  .profile__avatar-btn {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: rgba(33, 33, 33, 0.6);
    margin: 0 auto;
    top: 52px;
    left: 52px;

    padding: 4px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    visibility: visible;
  }
  .profile__pencil-icon {
    margin: 0, auto;
    width: 14px;
    height: 14px;
    /* top: 4px;
    left: 15.36px; */
    transform: translate(5px, 1px);
  }
  .profile__edit-button {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 288px;
  }
  .profile__add-button {
    display: flex;
    align-items: center; /* vertical centering */
    justify-content: center;
    margin: 0;
    width: 288px;
    height: 52px;
    gap: 8px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }
  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }
  .profile__column {
    margin-bottom: 20px;
  }
}
