<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Mardochee Ambroise" />
    <meta name="description" content="A Restaurant Coffee shop website." />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Spots, Image sharing, web development, pictures, social media, project"
    />
    <title>Spots Media</title>
    <!-- icon logo -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <!-- Page wrapper -->
    <div class="page">
      <!-- Header -->
      <header class="header">
        <img
          src="<%=require('./images/Logo.svg') %>"
          alt=" Spot Logo Image"
          class="header__logo"
        />
      </header>
      <!-- Main -->
      <main class="content">
        <!-- Profile -->
        <section class="profile page__section">
          <img
            src="<%= require('./images/avatar.jpg') %>"
            alt="User avatar imag Bessie Coleman"
            class="profile__avatar"
          />
          <div class="profile__column">
            <h1 class="profile__name">Bessie Coleman</h1>
            <p class="profile__description">Civil Aviator</p>
            <!-- Edit button -->
            <button type="button" class="profile__edit-button">
              <img
                src="<%= require('./images/pencil.svg') %>"
                alt="An image of a pencil icon"
              />
              Edit Profile
            </button>
          </div>
          <!-- add button -->
          <button type="button" class="profile__add-button">
            <img
              src="<%= require('./images/plus.svg') %>"
              alt="An image of a plus icon"
            />
            New Post
          </button>
        </section>
        <section class="cards">
          <ul class="cards__list">
            <template id="card-template">
              <li class="card">
                <button type="button" class="card__delete-button"></button>
                <img src="#" alt="" class="card__image" />
                <div class="card__content">
                  <h2 class="card__title"></h2>
                  <button type="button" class="card__like-button"></button>
                </div>
              </li>
            </template>
          </ul>
        </section>
      </main>
      <!-- Footer -->
      <footer class="footer">
        <p class="footer__copyright">2023 © Spots</p>
      </footer>

      <!-- 1 Modal Forms -->
      <div class="modal" id="edit-profile-modal">
        <div class="modal__container">
          <button type="button" class="modal__close-button">
            <img
              src="<%= require('./images/close_icon.svg') %>"
              alt="An image of an X icon"
            />
          </button>

          <h2 class="modal__title">Edit profile</h2>
          <form class="modal__form" id="edit-profile-modal-form" novalidate>
            <!-- Profile Name Input -->
            <label for="profile-name-input" class="modal__label">
              Name
              <input
                id="profile-name-input"
                type="text"
                class="modal__input"
                placeholder="Type your name"
                minlength="2"
                maxlength="40"
                required
              />

              <span id="profile-name-input-error" class="modal__error"></span>
            </label>

            <!-- Profile Description Input -->
            <label for="profile-description-input" class="modal__label">
              Description
              <input
                id="profile-description-input"
                type="text"
                class="modal__input"
                placeholder="Describe yourself"
                minlength="2"
                maxlength="200"
                required
              />
              <span
                id="profile-description-input-error"
                class="modal__error"
              ></span>
            </label>
            <button
              type="submit"
              class="modal__submit-button"
              id="edit-modal-submit-button"
            >
              Save
            </button>
          </form>
        </div>
      </div>

      <!-- Second form -->
      <div class="modal" id="new-post-modal">
        <div class="modal__container">
          <button type="button" class="modal__close-button">
            <img
              src="<%= require('./images/close_icon.svg') %>"
              alt="An image of an X icon"
            />
          </button>
          <!-- Link Input -->
          <h2 class="modal__title">New post</h2>
          <form class="modal__form" id="new-post-modal-form" novalidate>
            <label for="card-image-input" class="modal__label">
              Image link
              <input
                id="card-image-input"
                type="url"
                class="modal__input"
                placeholder="Place a link to the picture"
                required
              />
              <span id="card-image-input-error" class="modal__error"></span>
            </label>

            <!-- Caption input -->
            <label for="card-image-caption" class="modal__label">
              Caption
              <input
                id="card-image-caption"
                type="text"
                class="modal__input"
                placeholder="Describe yourself"
                minlength="2"
                maxlength="30"
                required
              />
              <span id="card-image-caption-error" class="modal__error"></span>
            </label>
            <button type="submit" class="modal__submit-button">Save</button>
          </form>
        </div>
      </div>
      <!-- Preview Modal -->
      <div class="modal modal_type_preview" id="preview-modal">
        <div class="modal__preview-container">
          <button
            type="button"
            class="modal__close-button modal__close-button_type_preview"
          >
            <img
              src="<%= require('./images/close_icon2.svg') %>"
              alt="An image of an X icon"
            />
          </button>
          <img src="#" alt="" class="modal__image modal__image_type_preview" />
          <p class="modal__caption modal__caption_type_preview"></p>
        </div>
      </div>
    </div>
  </body>
</html>
